# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
env/
.env/
.env

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Uvicorn reload files
reload/

# Any other system files
*.bak
*.swp
faiss_index
